h1{
	font-family: Arial;
	font-weight:bolder;
}
h2{
	font-family: Arial;
	background-color: black;
	font-weight: weight;
}
p{
	font-family: Arial;
	font-weight: bolder;
	font-size: x-large;
}